html {
	height: 100%;
}

body {
	height: 100%;
	padding-top: 70px;
	background: #1E1E1E;
	color: #f9f9f9;

	.container {
		#map{
			width: 100%;
			height: 300px;
		}
		.modal{
			color: #000000;
		}
	}
}
